<ion-header>
  <ion-toolbar>
    <ion-title>3-Pieces Tic-Tac-Toe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="board">
    <div *ngFor="let row of board; let i = index" class="row">
      <div
        *ngFor="let cell of row; let j = index"
        class="cell"
        (click)="onCellClick(i, j)"
        [class.selected]="selectedCell?.row === i && selectedCell?.col === j"
      >
        {{ cell.value }}
      </div>
    </div>
  </div>

  <div class="info">
    <p>it is {{this.currentPlayer.symbol}}'s turn</p>
    <p>{{ message }}</p>
    <ion-button (click)="resetGame()">Reset Game</ion-button>
  </div>
</ion-content>
